#menuBox {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

#homeList {
    text-align: center;
    list-style-type: none;
    display: inline-block;
}

#homeTabs {
    text-align: center;
}

#homeList ul {
    text-align: center;
    list-style-type: none;
}

#homeList li {
    margin-left: 0px;
    color: white;
    background-image: url("../img/BG_Blue_Texture.png");
    /*display: inline-block;*/
    justify-content: center;
    border: 5px solid white;
    width: 300px;
    margin: 0 10px 0 10px;
    border-radius: 25px;

    margin: 20px;


    /*float: left;*/
}

@media only screen and  (max-width: 420px){
    
    #homeList li {
        width: 150px;
    }

}