:root {
    --font-roboto: "Roboto Slab", serif;
    --font-raleway: "Raleway", sans-serif;
  }

body {
    font-family: var(--font-raleway);
    background-image: url("./components/img/BG_Red_Texture.png");
    background-size: 500px 500px;
    margin: 10px 10px 0 10px;
    height: 900px;
}

p {
  color: white;
}

h1 {
  color: white;
}

@media only screen and (max-width: 420px) {
  #start {
    width: 95%;
    overflow: scroll;
  }

}

@media only screen and (max-height: 915px) {

  #start {
    height: 450px;
  }
}

@media only screen and (max-height: 854px) {

  #start {
    height: 410px;
  }
}

@media only screen and (max-height: 800px) {

  #start {
    height: 360px;
  }
}

@media only screen and (max-height: 760px) {

  #start {
    height: 320px;
  }
}

@media only screen and (max-height: 667px) {

  #start {
    height: 290px;
  }
}